{% extends "layout.html" %}
{% block content %}
  <form action="" method=post class="form-horizontal">
    {{ form.csrf_token  }}
    <h2>Signin: </h2>
    <div class="control-group">
        <div class="controls">
            {{ form.email(placeholder="Enter Username", class="input-xlarge") }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form.password(placeholder="Enter Password", class="input-xlarge") }}
        </div>
    </div>
    <br />
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>
{% endblock %}