{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1>List products:</h1>
            <h4><a href="{{ url_for('product.add') }}">Add New Product</a></h4>
        </div>
        <div class="col-xs-6 col-md-4 search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <div id="four-columns" class="grid-container">
        <ul class="rig columns-4">
            {% if product_lists: %}
                {% for product in product_lists: %}
            <li>
                <img src="/static/uploads/{{ product.file_name }}" />
                <h3><a href="{{ url_for('product.detail', product_id=product.id) }}">{{ product.name }}</a></h3>
                <p>{{ product.summary }}</p>
            </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <!--/#four-columns-->
{% endblock %}