<div class="page-header">
  <h1>Example page using Flask framework <small>Nam Nguyen</small></h1>
</div>
<div class="row">
    <ul class="nav-contain col-xs-12 col-md-8 nav nav-pills ">
        <li role="presentation" class="active"><a href="{{ url_for('home.home_page') }}">Home</a></li>
        <li role="presentation"><a href="{{ url_for('product.list') }}">Product</a></li>
        <li role="presentation"><a href="{{ url_for('news.list') }}">News</a></li>
    </ul>
    <div class="col-xs-6 col-md-3 user-info">
        <ul>
            {% if current_user.is_authenticated: %}
                <li>
                    Hello <a href="{{ url_for('auth.profile') }}">{{ current_user.name }}</a> | <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            {% else: %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
